---
page_title: "{{.Type}} - {{.Name}}"
subcategory: ""
description: |-
  {{.Description}}
---

# {{.Name}} ({{.Type}})

{{.Description}}

## Example Usage

### Roles

{{ tffile "examples/resources/paralus_group/resource.tf" }}

### Users

{{ tffile "examples/resources/paralus_group/resource_users.tf" }}

{{ .SchemaMarkdown | trimspace }}